<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="grid">
        <div class="item"><img src="https://fakeimg.pl/300/"> </div>
        <div class="item"><img src="https://fakeimg.pl/250x100/"> </div>
        <div class="item"><img src="https://fakeimg.pl/250x100/ff0000/"> </div>
        <div class="item"><img src="https://fakeimg.pl/350x200/ff0000/000"></div>
        <div class="item"><img src="https://fakeimg.pl/350x200/ff0000,128/000,255"></div>
        <div class="item"><img src="https://fakeimg.pl/350x200/?text=Hello"></div>
        <div class="item"><img src="https://fakeimg.pl/350x200/?text=Hello"></div>
        <div class="item"><img src="https://fakeimg.pl/200x100/?retina=1&text=こんにちは&font=noto"></div>
        <div class="item"><img src="https://fakeimg.pl/350x200/?text=World&font=lobster"></div>

    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/waterfall.js/1.0.2/waterfall.min.js"></script>
    <script>
        console.log(111);
        waterfall('.grid');
    </script>
</body>
</body>
</html>